{%extends 'all-posts/base.html'%} {% block content %} {{block.super}}
<div class="container-fluid">

  {% for tag_item in tags %}

  <a href="{% url 'tag' tag_item.id %}" class="btn btn-default"> {{ tag_item.name }} </a> {% endfor %}
</div>
<div class="container">

  <div class="row">

    <h2> Posted Photos </h2>
  </div>
  {% for posts_item in posts %}

  <div class="col-xs-6 col-md-4 col-lg-4">
    <img src="{{posts_item.post_image.url}}" class="img-responsive" alt="Image">
    <div class="centered">
      <a href="{% url 'post' posts_item.id %}">{{posts_item.title}}</a>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
