{%extends 'all-posts/base.html'%} {% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>


  {{ block.super }}
  <div class="container-fluid">

    {% for tag_item in tags %}

    <a href="{% url 'tag' tag_item.id %}" class="btn btn-default"> {{ tag_item.name }} </a> {% endfor %}
  </div>
  <div class="container">

    <div class="row">

      <h2> Posted Photos </h2>
    </div>
    {% for posts_item in posts %}

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="posts" style="margin-top: 30px;">

      <a href="{% url 'post' posts_item.id %}"><img src="{{ posts_item.image.url }}" class="img-responsive" alt="Image> </a>

      <div class="column">

        <a <img src="media/posts/images16.jpg" alt="Car Imagn">">Car</a>
      </div>

    </div>

    {% empty %}

    <h2 class="text-center"> </h2> {% endfor %}

  </div>

  {% endblock %}
</body>

</html>
