{%extends 'all-posts/base.html'%} {% block content %}
<div class="container">

  <div class="row">
    {% if posts%}
    <h2>Found {{ posts|length }} of searched term {{message}}</h2> {% else %}
    <h2> Found 0 posts for the search term {{message}}</h2> {% endif %}

  </div>

  <div class="row">

    {% if posts %} {% for post in posts %}
    <div class="col-sm-6 col-md-3">
      <a href="{% url 'article' article.id%}"><h1>{{post.title}}</h1></a>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
